<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PollApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'polls:list' %}"">Home</a>
        </li>
          {% endif %}
      </ul>

      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
           {% if request.user.is_authenticated %}
          <a class="nav-link fw-bolder" href="#">{{request.user.first_name}}</a>
            <a class="nav-link" href="{% url 'polls:list_by_user' %}">My Profile</a>
           <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
           {% else %}
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            <a class="nav-link" href="{% url 'accounts:register' %}">SignUp</a>
           {% endif %}
      </div>
    </div>
  </div>
</nav>
